<div id="events-table" class="container">
    {{#each events}}
    <div class="event-container">
        <img src="{{this.image}}" class="small" alt="some image">
        <div class="event-characteristics">
            <h4 class="event-presentation-name">{{this.name}}</h4>
            {{#if this.description}}
            <h4 class="event-presentation-description">{{this.description}}</h4>
            {{/if}}
            <h4 class="event-presentation-location">Location: <span>{{this.location}}</span></h4>
            <h4>When: {{this.date}}</h4>
        </div>
        <a class="bookmark">
            {{!--<a class="save-action" href="#">--}}
                <button id="{{this._id}}" type="button" class="btn-primary saveButton">
                            Add to favorites
                </button>
            {{!--</a>--}}
        </a>
        <hr/> {{this._id}}
        <hr/>


    </div>
    {{/each}}
</div>