<div id="events-table" class="container">
    {{#each events}}
    <div class="event-container" id="{{this._id}}">
        <img src="{{this.image}}" class="small" alt="some image">
        <div class="event-characteristics">
            <h4 class="event-presentation-name">{{this.name}}</h4>
            {{#if this.description}}
            <h4 class="event-presentation-description">{{this.description}}</h4>
            {{/if}}
            <h4 class="event-presentation-location">Location: <span>{{this.location}}</span></h4>
            <h4>When: {{this.date}}</h4>
        </div>
        <a class="bookmark">
            {{#if this.favoritedByCurrentUser}}
            <button id="{{this._id}}" type="button" data-id="{{this._id}}" data-actiontype="remove" class="btn-danger saveButton">
                            Remove from favorites
                </button>
            {{else}}
            <button type="button" data-id="{{this._id}}" data-actiontype="add" class="btn-primary saveButton">
                            Add to favorites
            </button>
            {{/if}}
        </a>

        <div> {{this._id}} </div>
        <div>Added by {{this.favoritesCount}} users</div>
        <hr/>

    </div>
    {{/each}}
</div>